:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primary-white-color: #ffffff;
}

body {
        background-color: var(--primary-white-color);
        color: var(--primary-text-color);
        font-family:  Roboto, sans-serif;
        
}
/* HEADER */


.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}



.nav li,
.footer li {
    list-style-type: none;
    
}

.nav-link:hover,
.nav-link:focus,
.logo:hover,
.logo:focus,
.contact:hover,
.contact:focus,
.address:hover,
.address:focus,
.mail:hover,
.mail:focus,
.tell:hover,
.tell:focus {
     color: var(--accent-color);
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
} 

.logo span,
.nav-link span {
    color: var(--accent-color);
}

.contact {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.contact span {
    color: var(--accent-color);
}


/* HERO */

.hero,
.footer {
    background-color: #2F303A;
    
}

.hero h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


/* НАШЕ ПРЕИМУЩЕСТВО */

.benefits h3 {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefits li,
.work li,
.comand li,
.filter li,
.examples li {
    list-style-type: none;
}

.benefits p {
    font-size: 14px;
}

/* WORK */

.work h2,
.comand h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}



/* COMAND */

.comand  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.comand h3 {
    font-weight: 500;
    font-size: 19px;
    color: var(--title-text-color);
}



/* FOOTER */

.footer {
        
}

.logo-footer {
    color: var(--primary-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-footer span {
    color: var(--accent-color);
}

.footer a {
    text-decoration: none;
}

.address {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    font-style: normal;

}

.mail,
.tell {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}


/* PORTFOLIO */

.button-filter {
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    border: none;
    list-style-type: none;
    cursor: pointer;

}

.button-filter:hover,
.button-filter:focus {
    background-color: #2196F3;
    color: var(--primary-white-color);
 }

.examles-title {
   
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.chapter {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}